@font-face {
    font-family: 'Bevan';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/bevan/v12/4iCj6KZ0a9NXjG8SWCvLtg.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */

@font-face {
    font-family: 'Bevan';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/bevan/v12/4iCj6KZ0a9NXjG8TWCvLtg.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
    font-family: 'Bevan';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/bevan/v12/4iCj6KZ0a9NXjG8dWCs.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* arabic */

@font-face {
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/tajawal/v3/Iurf6YBj_oCad4k1l8KiHrRpiYlJ.woff2) format('woff2');
    unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;
}

/* latin */

@font-face {
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/tajawal/v3/Iurf6YBj_oCad4k1l8KiHrFpiQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* arabic */

@font-face {
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/tajawal/v3/Iurf6YBj_oCad4k1l5anHrRpiYlJ.woff2) format('woff2');
    unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;
}

/* latin */

@font-face {
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/tajawal/v3/Iurf6YBj_oCad4k1l5anHrFpiQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: inherit;
    -webkit-font-smoothing: antialiased
}

body {
    font-family: Tajawal;
    line-height: 24px;
    color: #dddfe4;
    background: #0c0f21;
    -webkit-font-smoothing: antialiased;
    overflow-y: auto !important
}

body,
html {
    height: 100%
}

a {
    color: #5367ff;
    text-decoration: none;
    transition: color .05s ease 0s
}

header {
    top: 0;
    right: 0;
    left: 0;
    margin-bottom: 16px;
    height: 60px;
    background: #5367ff;
    position: fixed;
    z-index: 102
}

ul,
li {
    list-style: none
}

.RightUI::-webkit-scrollbar {
    width: 3px;
    height: 4px
}

.RightUI::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 23px
}

.RightUI::-webkit-scrollbar-track {
    background: 0 0
}

.RightUI {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 99;
    width: 280px;
    padding: 80px 24px 0 16px;
    overflow: auto;
    perspective: 1000px;
    overscroll-behavior: contain
}

.LeftUI {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 99;
    width: 300px;
    padding: 72px 26px 16px;
    overflow: auto;
    overscroll-behavior: contain
}

.LeftUI::-webkit-scrollbar {
    width: 5px;
    height: 4px
}

.LeftUI::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 23px
}

.LeftUI::-webkit-scrollbar-track {
    background: 0 0
}

mycima {
    display: block;
    position: relative;
    z-index: 100;
    margin: 0 300px
}

.owl-stage-outer {
    overflow: hidden;
    padding-bottom: 2px
}

.owl-stage-outer::after {
    content: "";
    display: block;
    clear: both
}

.userarea--rightbar {
    margin-bottom: 15px;
    border-bottom: 1px solid #ffffff14
}

ul.menu-userarea--rightbar {
    margin: 0 -8px;
    padding-bottom: 4px
}

ul.menu-userarea--rightbar>li {
    border-radius: 8px
}

ul.menu-userarea--rightbar>li>a {
    color: #dddfe4;
    display: block;
    padding: 6px 10px;
    border-radius: 8px;
    font-size: 16px;
    transition: 250ms all cubic-bezier(0, 0, 1, 1)
}

ul.menu-userarea--rightbar>li>a>i {
    width: 44px;
    text-align: center;
    margin-left: 13px;
    color: #fff;
    font-size: 28px;
    line-height: 46px;
    vertical-align: middle;
    height: 44px
}

.smallertimeline .info--postitem>::after {
    font-size: 19px
}

.unline {
    cursor: pointer
}

widgetattach {
    display: block;
    margin-bottom: 8px
}

.LeftUI>widgetattach:last-child {
    margin-bottom: 0
}

widgetattach>strong {
    font-size: 17px;
    color: #d2d5e8;
    padding: 0 0 8px;
    font-weight: 400;
    display: block;
    margin: 0 -8px
}

widgetattach>strong::after {
    content: "";
    display: block;
    clear: both
}

.owl-item {
    float: right
}

.tools--fullimage--timelinesingle>::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 50%
}

.tools--fullimage--timelinesingle>:active::after {
    background: #bdc4ec21
}

.HeaderLogo {
    font-size: 38px;
    font-family: Bevan;
    line-height: 32px;
    color: #fff;
    display: inline-block;
    padding-top: 8px
}

.Grid--MycimaPosts {
    margin: 0 -8px;
    text-align: center
}

.GridItem {
    display: inline-block;
    width: 200px;
    vertical-align: top;
    position: relative;
    margin: 0 8px 16px;
    text-align: inherit;
    background: #1b1d2f;
    padding: 8px 8px 20px;
    border-radius: 8px
}

.GridItem span.BG--GridItem {
    display: block;
    top: 0;
    height: 100%;
    width: 100%;
    right: 0;
    padding-top: 150%;
    position: relative;
    overflow: hidden;
    background-image: var(--image);
    background-size: cover;
    background-position: center center;
    border-radius: 8px
}

.RightSideFlex {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    padding-right: 16px
}

.search--userarea--rightbar {
    margin: 0 -8px 10px;
    position: relative;
    display: block
}

.search--userarea--rightbar>input {
    display: block;
    width: 100%;
    height: 60px;
    color: #fff;
    border: 0;
    border-radius: 8px;
    padding: 0 56px 0 16px;
    font-size: 16px;
    background: #bdc4ec21
}

.search--userarea--rightbar>button {
    background: 0 0;
    position: absolute;
    top: 50%;
    cursor: pointer;
    width: 44px;
    right: 10px;
    border: 0;
    text-align: center;
    line-height: 46px;
    color: #fff;
    height: 44px;
    transform: translate(0px, -50%);
    font-size: 25px
}

mycimabegin {
    display: block;
    border-radius: 0 0 18px 18px;
    position: relative;
    margin-bottom: 20px
}

mycimabegin-inner {
    display: block
}

mycimabegin-inner ul.tabs {
    height: 60px
}

.Thumb--GridItem {
    position: relative;
    z-index: 1
}

.Thumb--GridItem>a>strong {
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: right;
    font-weight: 400;
    font-size: 15px;
    padding-top: 8px;
    display: block;
    color: #dddfe4;
    line-height: 20px;
    border-radius: 0 0 18px 18px
}

.GridItem span.BG--GridItem::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%
}

.Thumb--GridItem>a>strong>.year {
    color: #a3abe6;
    display: inline-block;
    font-weight: 700
}

.list--Tabsui {
    margin-bottom: 16px
}

.list--Tabsui>a {
    color: #dddfe4;
    margin-left: 8px;
    display: inline-block;
    vertical-align: top;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 25px;
    border-radius: 8px;
    cursor: pointer;

}

.list--Tabsui>a.active {
    background: #5367ff;
    color: #fff
}

.list--Tabsui>a>i {
    vertical-align: middle;
    font-size: 25px;
    margin-left: 12px;
    float: right
}

mycima--filter {
    display: block
}

mycima--filter>filterbox {
    display: block;
    overflow: hidden;
    position: relative;
    margin: 0 -12px;
    border-radius: 8px;
    user-select: none
}

mycima--filter>filterbox>title--filterbox {
    display: block;
    padding: 16px 16px 13px 46px;
    position: relative;
    cursor: pointer;
    background: rgba(189, 196, 236, .11);
    border-radius: 8px;
    margin-bottom: 8px
}

mycima--filter>filterbox>title--filterbox>span {
    display: block;
    font-size: 12px;
    color: #d2d5e8;
    line-height: 100%;
    margin-bottom: 0
}

mycima--filter>filterbox>title--filterbox>strong {
    display: block;
    font-size: 16px;
    color: #fff;
    font-weight: 400
}

mycima--filter>filterbox>list--filterbox {
    overflow: hidden;
    border-top: 0;
    border-radius: 0 0 8px 8px;
    display: block;
    width: 100% !important
}

mycima--filter>filterbox>list--filterbox item {
    background: rgba(189, 196, 236, .06);
    margin: 0 4px 8px;
    border-radius: 8px;
    vertical-align: top;
    text-align: center;
    padding: 12px 0;
    flex: 1 1 0%;
    min-width: 80px;
    font-size: 15px;
    color: #aab3dc;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis
}

mycima--filter>divider {
    margin: 8px 0
}

mycima--filter>filterbox.active>title--filterbox>i {
    transform: translate(0px, -50%);
    transition: all 150ms ease 0s
}

mycima--filter>filterbox>title--filterbox>i {
    transition: all 150ms ease 0s;
    position: absolute;
    top: 50%;
    padding-top: 4px;
    left: 16px;
    transform: translate(0px, -50%) rotate(90deg);
    font-size: 30px;
    line-height: 17px !important
}

inner--list--filterbox {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    margin: 0 -4px 8px
}

inner--list--filterbox.minilist item {
    padding: 6px 0;
    min-width: 110px
}

title--filterboxselection {
    display: block;
    margin: 0 -12px;
    background: #2c336f;
    border-radius: 8px;
    transition: all 150ms linear 150ms;
    padding: 20px 70px 18px 12px
}

title--filterboxselection>span {
    display: block;
    font-size: 14px;
    line-height: 100%;
    margin-bottom: 4px;
    color: #fff;
    opacity: .7
}

title--filterboxselection>strong {
    display: block;
    font-size: 17px;
    line-height: 100%;
    font-weight: 400;
    color: #fff
}

title--filterboxselection>i {
    font-size: 36px;
    text-align: center;
    position: absolute;
    right: 12px;
    color: #dddfe4;
    top: 50%;
    width: 48px;
    height: 48px;
    transform: translate(0px, -50%);
    line-height: 53px !important
}

title--filterboxselection.uicolors--mpaa {
    background: #4ca55c
}

gototop {
    display: block;
    width: 150px;
    background: #31a24c;
    text-align: center;
    line-height: 42px;
    font-size: 16px;
    color: #fff;
    border-radius: 18px 18px 0 0;
    margin: 16px auto 0
}

title--mycima--filter {
    display: block;
    font-size: 18px;
    margin-bottom: 12px
}

mycima--filter>filterbox>list--filterbox item.selected {
    background: rgba(148, 161, 255, .17);
    color: #fff
}

mycima--filter item.selected::after {
    display: none
}

mycima--filter>filterbox>title--filterbox:hover::after {
    background: #262b40 !important
}

mycima--filter>filterbox>title--filterbox::after {
    z-index: -1
}

mycima--filter>filterbox>list--filterbox item.clearall--item {
    background: rgba(189, 196, 236, .12);
    opacity: .5;
    font-size: 13px;
}

dropdownlist {
    position: absolute;
    top: 50%;
    transform: translate(0px, -50%);
    padding: 12px 16px;
    right: -16px;
    bottom: 0;
    overflow: hidden;
    height: 73px;
    opacity: 0;
    transition: opacity 250ms ease 150ms, visibility 250ms ease 0s, height 250ms ease 0s;
    left: -16px;
    background: #232848;
    box-shadow: 0 12px 28px 0 #0003, 0 2px 4px 0 #0000001a, inset 0 0 0 1px #a7b0ea12;
    border-radius: 18px;
    z-index: 5;
    visibility: hidden
}

filterboxselection {
    display: block;
    transition: all 250ms ease 0s;
    position: relative
}

dropdownlist>title--dropdownlist {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 28px
}

dropdownlist>title--dropdownlist>span {
    display: inline-block;
    float: left;
    width: 30px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    line-height: 34px;
    border-radius: 18px
}

dropdownlist>list--dropdownlist::-webkit-scrollbar {
    width: 3px;
    height: 4px
}

dropdownlist>list--dropdownlist::-webkit-scrollbar-thumb {
    background: #3a4275;
    border-radius: 23px
}

dropdownlist>list--dropdownlist::-webkit-scrollbar-track {
    background: 0 0
}

dropdownlist>list--dropdownlist {
    display: block;
    height: calc(100% - 40px);
    overflow: auto;
    overscroll-behavior: contain
}

dropdownlist>list--dropdownlist>item {
    margin-left: 4px;
    display: block;
    border: 1px solid #bdc4ec21;
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 8px
}

dropdownlist>list--dropdownlist>item>checkbox {
    display: inline-block;
    height: 22px;
    width: 22px;
    vertical-align: top;
    border: 1px solid #bdc4ec21;
    border-radius: 18px;
    margin-left: 15px
}

dropdownlist>list--dropdownlist>item>txt {
    display: inline-block;
    vertical-align: middle;
    max-width: calc(100% - 45px)
}

dropdownlist>list--dropdownlist>item>txt>name {
    display: block;
    font-size: 16px;
    color: #d2d5e8
}

dropdownlist>list--dropdownlist>item>txt>describe {
    display: block;
    line-height: 18px;
    font-size: 13px;
    color: #bdbeca
}

dropdownlist>list--dropdownlist>item::after {
    display: none
}

dropdownlist>list--dropdownlist>item:last-child {
    margin-bottom: 0
}

dropdownlist>list--dropdownlist>item:hover {
    border-color: #494f77
}

dropdownlist>list--dropdownlist>item:hover>checkbox {
    border-color: #494f77
}

dropdownlist>list--dropdownlist>item.selected {
    background: rgba(189, 196, 236, .07);
    border-color: transparent
}

dropdownlist>list--dropdownlist>item.selected>checkbox {
    background: #5367ff;
    box-shadow: 0 0 11px 0 #5367ff;
    border: 0
}

dropdownlist>list--dropdownlist>item.selected>txt>name {
    color: #fff
}

years--dropdownlist>item {
    display: inline-block;
    background: rgba(56, 63, 117, .43);
    width: auto;
    padding: 0px 3px;
    color: #7f84ad;
    text-align: center;
    vertical-align: top;
    margin: 0 4px 8px;
    height: 37px;
    line-height: 37px;
    border-radius: 8px;
    font-weight: 700;
    font-size: 15px
}

years--dropdownlist::-webkit-scrollbar {
    width: 3px;
    height: 4px
}

years--dropdownlist::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, .07);
    border-radius: 23px
}

years--dropdownlist::-webkit-scrollbar-track {
    background: 0 0
}

years--dropdownlist {
    display: block;
    margin: 0 -4px 0 -6px;
    max-height: calc(100% - 85px);
    overscroll-behavior: contain;
    overflow: hidden;
    border-radius: 8px
}

years--dropdownlist>item.selected {
    background: rgba(83, 103, 255, .38);
    color: #fff
}

years--dropdownlist>item.clearall--item {
    background: #5367ff;
    font-size: 13px;
    line-height: 35px;
    opacity: .2;
    color: #dddfe4
}

years--dropdownlist:hover {
    overflow: auto
}

em.modablaj {
    font-style: normal;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    color: #ffce61;
    padding-left: 5px
}

tab--mycimabegin-inner {
    display: block;
    position: relative;
    flex: 1 1 0%
}

a.Slides-next {
    display: block;
    position: absolute;
    top: 50%;
    width: 60px;
    height: 70px;
    cursor: pointer;
    background: #23273b;
    color: #dddfe4;
    line-height: 76px;
    right: -10px;
    font-size: 45px;
    text-align: center;
    transform: translate(0px, -50%);
    border-radius: 18px 4px 4px 18px
}

.Slider--Grid {
    position: relative;
    height: 100%;
    padding: 0
}

.Slider--Grid .GridItem {
    width: 258px;
    padding: 0;
    margin: 0
}

.Slider--Grid .GridItem .Thumb--GridItem>a>strong {
    position: absolute;
    bottom: 0;
    z-index: 2;
    padding: 132px 12px 52px;
    background: linear-gradient(to top, rgb(1, 1, 2), rgba(0, 0, 0, 0));
    border-radius: 0 0 8px 8px
}

.Slider--Grid .owl-stage-outer {
    padding: 12px 0 0
}

.owl-item:hover {}

mycima.separated--top {
    padding-top: 60px
}

.Single-begin {
    padding: 26px 16px;
    position: relative
}

.Poster--Single-begin {
    width: 270px;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    position: relative;
    box-shadow: rgba(140, 151, 232, .14) 0 0 0 1px;
    border-radius: 18px
}

.Poster--Single-begin>a.Img--Poster--Single-begin {
    display: block;
    padding-top: 150%;
    background-color: #bdc4ec21;
    border-radius: 18px;
    background-size: cover;
    background-position: center center
}

.Content--Single-begin {
    display: inline-block;
    max-width: calc(100% - 290px);
    vertical-align: top;
    margin-right: 20px;
    border-radius: 18px
}

ul.Terms--Content--Single-begin {}

ul.Terms--Content--Single-begin>li {
    padding: 4px 0
}

ul.Terms--Content--Single-begin>li>span {
    display: inline-block;
    vertical-align: middle;
    width: 130px;
    opacity: .7;
    color: #b9bfef;
    font-size: 16px
}

ul.Terms--Content--Single-begin>li>p {
    display: inline-block;
    vertical-align: middle;
    color: #d2d5e8;
    max-width: calc(100% - 130px);
    font-size: 16px
}

.BG--Single-begin {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
    pointer-events: none;
    height: calc(100%);
    background-image: var(--img);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center
}

.BG--Single-begin::before {
    content: "";
    display: block;
    height: 100%;
    background: linear-gradient(rgba(26, 29, 46, 0.66), rgba(26, 29, 46, 0.9), rgb(26, 29, 46));
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1
}

.BG--Single-begin::after {
    content: "";
    display: block;
    height: 100%;
    backdrop-filter: blur(11px);
    position: relative;
    z-index: -1
}

.Title--Content--Single-begin {
    padding-bottom: 12px;
    margin-bottom: 6px;
    border-bottom: 1px solid #bdc4ec21
}

.Title--Content--Single-begin>h1 {
    font-size: 26px;
    text-align: right
}

ul.Terms--Content--Single-begin>li>p>a {
    display: inline-block;
    vertical-align: middle;
    margin-left: 12px;
    color: #aab6ff
}

ul.Terms--Content--Single-begin>li>p>.mpaadesc {
    vertical-align: middle;
    margin-left: 12px
}

.Breadcrumb--UX {
    margin: 0 -6px 10px;
    line-height: 22px
}

.Breadcrumb--UX>ol {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.Breadcrumb--UX>ol>* {
    display: inline-block;
    vertical-align: middle;
    color: #5367ff;
    padding: 0 6px;
    font-size: 15px
}

.Breadcrumb--UX>ol>*>a {
    display: block;
    line-height: 100%;
    color: #c3cbff
}

.Breadcrumb--UX>ol>:last-child>a {
    color: #fff
}

.Title--Content--Single-begin>h1 a {
    color: #fff
}

.Watch--Mycima--Single {}

singlesections {
    display: block;
    margin: 0;
    border-top: 10px dashed #262a42
}

singlesections>singlesection {
    display: block;
    background: #262a42;
    padding: 26px 16px 16px
}

.WatchServers {
    width: 220px;
    display: inline-block;
    margin-left: 16px;
    vertical-align: top
}

.WatchServers>ul {
    margin-right: -8px
}

.WatchServers>ul li {
    margin-bottom: 0;
    --color: #5367ff
}

.WatchServers>ul li i {
    display: inline-block;
    vertical-align: middle;
    width: 34px;
    margin-left: 10px;
    height: 34px;
    text-align: center;
    background: var(--color);
    border-radius: 18px;
    color: #fff;
    line-height: 34px;
    font-size: 24px
}

.WatchServers>ul li>btn {
    display: block;
    padding: 8px;
    border-radius: 8px
}

.WatchServers>ul li strong {
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    vertical-align: middle;
    text-transform: capitalize
}

.WatchServers>ul li.selected>btn {
    background: #5367ff
}

.WatchServersEmbed {
    max-width: calc(100% - 510px);
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin-left: 16px
}

.WatchServersEmbed iframe {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 18px
}

singlesections>singlesection:nth-child(2n) {
    background: 0 0
}

.WatchServersEmbed .Inner--WatchServersEmbed {
    padding-top: 72%;
    background: #0c0f21;
    position: relative;
    z-index: 1;
    border-radius: 18px;
    border: 3px solid #0c0f21
}

titleshape {
    display: block;
    font-size: 24px;
    margin-bottom: 15px
}

.Download--Mycima--Single {
    display: inline-block;
    vertical-align: top;
    width: auto;
    max-width: 258px
}

ul.List--Download--Mycima--Single {}

ul.List--Download--Mycima--Single>li {
    margin-bottom: 8px
}

ul.List--Download--Mycima--Single>li>a {
    display: block;
    background: #31a24c;
    color: #fff;
    border-radius: 8px;
    padding: 16px 55px 16px 16px;
    line-height: 100%
}

ul.List--Download--Mycima--Single>li>a>quality {
    display: block;
    font-size: 20px;
    margin-bottom: 6px;
    text-transform: uppercase
}

ul.List--Download--Mycima--Single>li>a>i {
    position: absolute;
    bottom: 12px;
    left: 0;
    width: 50px;
    text-align: center;
    font-size: 22px
}

.AsideContext {
    padding: 28px 16px 35px;
    background: #15192a;
    margin-bottom: -10px;
    border-top: 1px solid rgba(255, 255, 255, .05);
    box-shadow: #0c0f21 0 12px 10px -10px inset
}

.AsideContext>h2 {
    color: #fff;
    margin-bottom: 12px;
    font-size: 24px;
    font-weight: 400
}

.AsideContext>.StoryMovieContent {
    font-size: 18px;
    line-height: 24px;
    color: #d2d5e8
}

.AsideContext>h2>i {
    vertical-align: bottom;
    margin-left: 0;
    color: #5367ff
}

.Teamwork--Area {}

.Teamwork--Area>h2 {
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 16px
}

.List--Teamwork {}

.List--Teamwork>ul.Inner--List--Teamwork {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    margin: 0 -6px
}

.List--Teamwork>ul.Inner--List--Teamwork>li {
    flex: 1;
    position: relative;
    min-width: 140px;
    margin: 0 6px 12px;
    max-width: 180px;
    background: #bdc4ec21;
    border-radius: 8px
}

.List--Teamwork>ul.Inner--List--Teamwork>li>a {
    display: block
}

.List--Teamwork>ul.Inner--List--Teamwork>li>a .ActorName {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: -webkit-auto;
    width: 100%;
    background: linear-gradient(to top, black, transparent);
    padding: 60px 12px 12px;
    color: #fff;
    border-radius: 0 0 8px 8px
}

.List--Teamwork>ul.Inner--List--Teamwork>li>a .ActorName>span {
    display: block;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 4px
}

.List--Teamwork>ul.Inner--List--Teamwork>li>a .Photo {
    padding-top: 150%;
    display: block;
    background-size: cover;
    background-position: center center;
    border-radius: 8px
}

.List--Teamwork>ul.Inner--List--Teamwork>li>a .ActorName>em {
    display: block;
    font-style: normal;
    font-size: 15px;
    color: #9da3c5;
    line-height: 18px
}

.List--Teamwork>ul.Inner--List--Teamwork>li>a .Photo>i {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    font-size: 130px;
    margin-top: -25px;
    opacity: .3;
    z-index: -1
}

a.MoreTeamworkList {
    display: block;
    float: left;
    background: #5367ff;
    color: #fff;
    line-height: 50px;
    font-size: 18px;
    padding: 0 20px;
    border-radius: 18px
}

.List--Teamwork::after {
    content: "";
    display: block;
    clear: both
}

a.MoreTeamworkList>em {
    font-style: normal
}

singlerelated {
    display: block;
    background: #0c0f21;
    padding: 22px 16px
}

singlerelated .GridItem {
    width: 188px
}

singlerelated>h2 {
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 16px
}

.List--Seasons--Episodes {
    width: 180px;
    margin: 0 20px 0 30px;
    display: inline-block;
    padding: 10px;
    vertical-align: top;
    float: right;
    background: #1e243c;
    border-radius: 18px
}

.Episodes--Seasons--Episodes {
    display: flex;
    vertical-align: top;
    max-width: calc(100% - 230px);
    flex-wrap: wrap
}

.Seasons--Episodes {}

.List--Seasons--Episodes>a {
    display: block;
    border-radius: 18px;
    margin: 0 -30px 8px;
    background: #2b3454;
    line-height: 38px;
    color: #d2d5e8;
    padding: 0 26px;
    box-shadow: #15192a 0 2px 3px
}

.List--Seasons--Episodes>a:last-child {
    margin-bottom: 0
}

.List--Seasons--Episodes>a.selected {
    background: #5367ff;
    color: #fff
}

.Episodes--Seasons--Episodes>a {
    display: inline-block;
    background: #252a40;
    vertical-align: top;
    flex: 1 1 0%;
    height: 50px;
    min-width: 160px;
    margin: 0 4px 8px;
    padding: 4px;
    border-radius: 18px
}

.Seasons--Episodes::after {
    content: "";
    display: block;
    clear: both
}

.Episodes--Seasons--Episodes>a .Thumb {
    display: inline-block;
    width: 40px;
    vertical-align: middle;
    height: 100%;
    background-size: cover;
    background-position: center center;
    margin-left: 12px;
    border-radius: 18px
}

.Episodes--Seasons--Episodes>a episodearea {
    display: inline-block;
    vertical-align: middle
}

.Episodes--Seasons--Episodes>a episodearea>episodetitle {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    color: #d2d5e8;
    text-overflow: ellipsis;
    font-size: 18px
}

.Episodes--Seasons--Episodes>a .Thumb>span {
    display: block;
    height: 100%;
    text-align: center;
    border-radius: 18px;
    background: #bdc4ec21;
    color: #dddfe4;
    font-size: 18px;
    line-height: 44px
}

.Episodes--Seasons--Episodes>a.selected {
    background: #5367ff !important
}

.pagination {
    display: table;
    margin: 0 auto;
    border-radius: 50px
}

.pagination>ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap
}

.pagination>ul>li {
    padding: 0 3px
}

.pagination>ul>li>* {
    display: block;
    padding: 14px 20px 12px;
    font-size: 18px;
    background: #bdc4ec21;
    line-height: 100%;
    border-radius: 18px;
    color: #dddfe4
}

.pagination>ul>li>span.current {
    background: #5367ff !important
}

.Items--Slider--Grid {
    opacity: 0;
    transition: all 150ms ease 0s
}

.Items--Slider--Grid.owl-loaded {
    opacity: 1
}

header>middle--header>ul {
    white-space: nowrap;
    text-align: right;
    padding-top: 6px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px
}

header>middle--header>ul>li {
    display: inline-block;
    position: relative;
    vertical-align: top
}

header>middle--header>ul>li>a {
    display: inline-block;
    vertical-align: top;
    height: 48px;
    font-size: 16px;
    padding: 0 12px;
    line-height: 46px;
    border-radius: 8px;
    color: #fff;
    max-width: 100%;
    text-overflow: ellipsis
}

header>middle--header>ul>li>ul {
    position: absolute;
    top: 100%;
    right: 0;
    background: #232848;
    border-radius: 8px;
    min-width: 170px;
    overflow: hidden;
    box-shadow: rgba(12, 15, 33, .73) 0 4px 8px 2px;
    transform: scale(.7);
    transform-origin: right top;
    visibility: hidden;
    opacity: 0;
    transition: all 150ms ease 0s
}

header>middle--header>ul>li>a>i.fa-angle-left {
    display: inline-block;
    vertical-align: middle;
    padding-right: 14px;
    font-size: 22px;
    transform-origin: center center;
    transition: all 150ms ease 0s;
    position: absolute;
    top: 50%;
    transform: translate(0px, -50%)
}

header>middle--header>ul>li>ul>li>a {
    display: block;
    color: #dddfe4;
    text-align: right;
    padding: 10px 22px;
    border-bottom: 1px solid #bdc4ec21
}

header>middle--header>ul>li>ul>li {}

header>middle--header>ul>li>ul>li:last-child>a {
    border-bottom: 0
}

header>middle--header>ul>li:hover>ul {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
    z-index: 5
}

header>middle--header>ul>li:hover>a>i.fa-angle-left {
    transform: rotate(270deg) translate(17px, -8px)
}

header>middle--header>ul>li.menu-item-has-children>a {
    padding-left: 40px
}

header>middle--header>ul>li.current-menu-item>a {
    height: 54px;
    border-radius: 0;
    box-shadow: #fff 0 -3px 0 inset
}

header>middle--header>ul>li.current-menu-item>a::after {
    display: none
}

.Searching--Overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background: rgba(0, 0, 0, .75);
    z-index: 102;
    height: 100%
}

.Close--SearchingBox {
    top: 10px;
    left: 13px;
    height: 38px;
    width: 38px;
    text-align: center;
    font-size: 22px;
    color: #0e1331;
    line-height: 40px;
    border-radius: 8px;
    position: absolute !important
}

.Results--Searching--Overlay {
    height: calc(100% - 60px);
    margin: 0 300px;
    background: #0c0f21;
    position: relative;
    overflow: auto;
    padding: 16px 8px;
    overscroll-behavior: contain;
    text-align: center
}

.Results--Searching--Overlay::-webkit-scrollbar {
    width: 8px;
    height: 4px
}

.Results--Searching--Overlay::-webkit-scrollbar-thumb {
    background: #3e4467;
    border-radius: 23px
}

.Results--Searching--Overlay::-webkit-scrollbar-track {
    background: 0 0
}

.Results--Searching--Overlay .Grid--MycimaPosts .GridItem {
    width: 198px;
    margin: 0 6px 12px;
    padding-bottom: 10px
}

.Results--Searching--Overlay .Grid--MycimaPosts .GridItem .Thumb--GridItem>a>strong {
    text-align: center
}

.genres--list--widget {
    margin: 0 -8px
}

.genres--list--widget>a {
    display: inline-block;
    border-radius: 8px;
    vertical-align: top;
    background: #232848;
    margin-left: 8px;
    margin-bottom: 8px;
    padding: 4px 12px;
    color: #a0a6cc;
    font-size: 15px
}

.HeaderLogo>logotext {
    display: block;
    font-family: Tajawal;
    font-weight: 400;
    font-size: 17px;
    line-height: 12px;
    text-align: center
}

middle--header {
    margin: 0 auto;
    display: inline-block;
    white-space: nowrap;
    vertical-align: top
}

.Button--Menubar--UX {
    display: inline-block;
    vertical-align: top;
    margin: 6px;
    color: #fff;
    position: relative
}

.Button--Menubar--UX>span {
    display: block;
    text-align: center;
    line-height: 48px;
    font-size: 18px;
    width: 170px;
    padding-right: 8px;
    text-overflow: ellipsis;
    overflow: hidden;
    background: #bdc4ec21;
    border-radius: 8px
}

.Button--Menubar--UX>span>i {
    vertical-align: middle;
    font-size: 23px;
    padding-left: 4px
}

.Button--Menubar--UX>.NavigationMenu::-webkit-scrollbar {
    width: 3px;
    height: 4px
}

.Button--Menubar--UX>.NavigationMenu::-webkit-scrollbar-thumb {
    background: #5c6286;
    border-radius: 23px
}

.Button--Menubar--UX>.NavigationMenu::-webkit-scrollbar-track {
    background: 0 0
}

.Button--Menubar--UX>.NavigationMenu {
    position: absolute;
    display: none;
    top: 100%;
    right: 0;
    padding: 12px;
    background: #232848;
    border-radius: 8px
}

.Button--Menubar--UX>.NavigationMenu>li {}

.Button--Menubar--UX>.NavigationMenu>li>a {
    border-radius: 8px;
    display: block;
    color: #fff;
    padding: 8px 12px;
    font-size: 16px;
    position: relative;
    max-width: 224px;
    overflow: hidden;
    text-overflow: ellipsis
}

.Button--Menubar--UX>.NavigationMenu>li>a>i.fa-angle-left {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translate(0px, -50%)
}

.Button--Menubar--UX>.NavigationMenu>li.menu-item-has-children>a {
    padding-left: 30px;
    padding-right: 12px
}

.Button--Menubar--UX>.NavigationMenu>li>ul {
    margin-bottom: 8px;
    display: none;
    padding-bottom: 8px;
    border-bottom: 1px solid #bdc4ec21
}

.Button--Menubar--UX>.NavigationMenu>li>ul>li>a {
    display: block;
    color: #dddfe4;
    padding: 4px 8px;
    border-radius: 8px;
}

.Button--Menubar--UX>.NavigationMenu>li>a>i:not(.fa-angle-left) {
    display: inline-block;
    vertical-align: middle;
    padding-left: 6px
}

.RightSideFlex--Openmenu {
    display: inline-block;
    vertical-align: middle;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    padding-top: 5px;
    padding-right: 8px;
    height: 40px;
    width: 40px;
    padding-left: 8px;
    border-radius: 18px;
    margin-left: 8px
}

.GotoTop {
    float: right;
    width: 60px;
    background: #5b68d0;
    height: 55px;
    position: sticky;
    bottom: 0;
    z-index: 998;
    color: #c8cdfd;
    font-size: 27px;
    text-align: center;
    padding-top: 5px;
    line-height: 14px;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    transform-origin: bottom center;
    transform: translate(0, 100%);
    transition: .3s all cubic-bezier(.21, .12, .02, .99);
    left: 10px;
    border-radius: 4px 4px 0 0
}

.GotoTop:hover {
    height: 78px;
    font-size: 48px;
    background: #c7ccf1;
    color: #5367ff;
    transition: .1s all cubic-bezier(.21, .12, .02, .99)
}

.GotoTop>span {
    display: block;
    font-size: 15px
}

footer {
    display: table;
    margin: 20px auto;
    border-radius: 8px;
    text-align: center;
    padding-bottom: 10px;
}

footer copyrights {
    display: inline-block;
    background: #5367ff;
    padding: 10px 12px 8px;
    border-radius: 8px;
    vertical-align: middle;
}

footer copyrights span {
    vertical-align: middle;
}

footer>a {
    vertical-align: middle
}

.TrailerCode iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0
}

.TrailerCode {
    height: 0;
    padding-top: 61%;
    position: relative
}

.Searching--Overlay .search--userarea--rightbar>input {
    background: #fff;
    padding: 0 26px;
    color: #0e1331
}

.Searching--Overlay .search--userarea--rightbar>button {
    display: none
}

/** Responsive **/

@media only screen and (max-width:1900px) {
    .WatchServers {
        width: 200px
    }
    .Download--Mycima--Single {
        max-width: 230px
    }
    .WatchServersEmbed {
        max-width: calc(100% - 462px)
    }
}

@media only screen and (max-width:1700px) {
    .Download--Mycima--Single {
        max-width: initial
    }
    ul.List--Download--Mycima--Single {
        margin: 0 -4px
    }
    .Download--Mycima--Single li {
        display: inline-block;
        min-width: 220px;
        margin: 0 4px
    }
    /* .WatchServersEmbed {
        max-width: calc(100% - 216px);
        margin-left: 0;
        margin-bottom: 12px;
        
    } */
}

@media only screen and (max-width:1600px) {
    header>middle--header>ul>li {
        max-width: 210px;
        text-overflow: ellipsis
    }
}

@media only screen and (max-width:1480px) {
    .list--Tabsui>a {
        font-size: 18px;
        padding: 12px;
        margin-left: 4px;
        margin-bottom: 6px
    }
    .RightSideFlex {
        width: auto;
        margin-left: 12px
    }
}

@media only screen and (max-width:1420px) {
    .WatchServersEmbed {
        max-width: inherit
    }
    .WatchServers {
        width: auto;
        display: block;
        margin: 0 0 12px;
        text-align: center
    }
    .WatchServers>ul li btn {
        padding: 4px 12px
    }
    .WatchServers>ul li {
        display: inline-block;
        vertical-align: middle;
        background: #bdc4ec21;
        border-radius: 8px;
        margin: 0 4px 8px
    }
    .Poster--Single-begin {
        margin-bottom: 12px
    }
    .Single-begin {
        text-align: center
    }
    .Content--Single-begin {
        max-width: inherit;
        display: block;
        text-align: right;
        margin: 0
    }
}

@media only screen and (max-width:1300px) {
    header>middle--header>ul>li:first-child {
        display: none
    }
    header>middle--header>ul>li {
        max-width: 190px
    }
    header>middle--header>ul>li.menu-item-has-children>a {
        padding-left: 30px
    }
    header>middle--header>ul>li>a>i.fa-angle-left {
        padding-right: 7px;
        font-size: 15px;
        transform: rotate(270deg) translate(11px, -8px) !important
    }
    .Slider--Grid .GridItem {
        width: 200px
    }
    mycima {
        margin: 0 300px 0 16px
    }
    .LeftUI {
        display: none;
        background: #0c0f21;
        box-shadow: 4px 0 10px 7px #070915c4;
        z-index: 101
    }
}

@media only screen and (max-width:1260px) {
    .Results--Searching--Overlay {
        margin: 0 230px 0 150px
    }
    .Searching--Overlay>form-search {
        margin: 0 230px 0 150px
    }
    @media only screen and (max-width:1060px) {
        .Searching--Overlay>form-search {
            margin: 0 280px 0 0
        }
        .Results--Searching--Overlay {
            margin: 0 280px 0 0
        }
    }
    @media only screen and (max-width:1130px) {
        mycima {
            margin: 0 16px
        }
        .list--Tabsui {
            text-align: center
        }
        .RightUI {
            display: none;
            background: #0c0f21;
            z-index: 101
        }
        .RightSideFlex>a {
            vertical-align: middle
        }
        .Poster--Single-begin {
            width: 200px;
            margin-left: 16px
        }
        .Content--Single-begin {
            max-width: calc(100% - 216px);
            display: inline-block;
            vertical-align: top
        }
    }
    @media only screen and (max-width:900px) {
        .List--Teamwork>ul.Inner--List--Teamwork>li {
            min-width: 100px;
            max-width: 200px
        }
        .Breadcrumb--UX>ol {
            white-space: normal
        }
        .Poster--Single-begin {
            margin: 0 0 12px
        }
        .List--Seasons--Episodes>a {
            display: inline-block;
            margin: 0 4px 8px;
            vertical-align: top
        }
        .Episodes--Seasons--Episodes {
            max-width: inherit
        }
        .List--Seasons--Episodes {
            display: block;
            margin: 0 0 12px;
            float: none;
            width: auto;
            background: 0 0;
            border-radius: 0;
            padding: 0
        }
        .Content--Single-begin {
            display: block;
            max-width: inherit
        }
    }
    @media only screen and (max-width:770px) {
        .list--Tabsui>a>i {
            font-size: 20px;
            padding-top: 3px
        }
        .list--Tabsui {
            white-space: nowrap;
            overflow: auto
        }
        .list--Tabsui>a {
            font-size: 16px;
            padding: 7px 15px
        }
        mycima {
            margin: 0 8px
        }
    }
    @media only screen and (max-width: 666px) {
        .RightUI,
        .LeftUI {
            padding-top: 120px
        }
        header.double--header .Button--Menubar--UX>span {
            width: auto;
            text-align: right;
            font-size: 16px
        }
        rootinside {
            display: block;
            padding-top: 48px;
            overflow: hidden
        }
        .RightSideFlex--Openmenu {
            position: absolute;
            top: 50%;
            right: 8px;
            margin-top: -22px
        }
        .RightSideFlex {
            display: block;
            margin: 0;
            text-align: center;
            padding: 0 8px
        }
        header.double--header .Button--Menubar--UX {
            position: absolute;
            top: 100%;
            right: 0;
            width: 100%;
            background: #5367ff;
            margin: 0
        }
    }
    @media only screen and (max-width:550px) {
        .Button--Menubar--UX>span {
            width: 90px
        }
        .HeaderLogo {
            font-size: 30px
        }
    }
}

@media only screen and (max-width:775px) {
    .Grid--MycimaPosts {
        display: flex;
        flex-wrap: wrap;
        padding: 0 2px
    }
    .pagination>ul>li>* {
        font-size: 13px;
        padding: 12px 14px
    }
    singlerelated .GridItem {
        width: 150px
    }
    .GridItem span.BG--GridItem {
        padding-top: 160%
    }
    .Thumb--GridItem>a>strong {
        padding: 10px
    }
    .GridItem {
        padding: 2px 2px 8px;
        margin: 0 3px 6px;
        flex: 1;
        min-width: 140px
    }
    .Searching--Overlay {
        top: 60px;
        height: calc(100vh - 60px)
    }
    .Searching--Overlay>form-search {
        margin-right: 0
    }
    .Results--Searching--Overlay {
        margin-right: 0
    }
}

root {
    display: block !important;
}

.unline:hover {
    text-decoration: underline;
}

ul.menu-userarea--rightbar>li>a:hover {
    background: rgb(189 196 236 / 8%);
    transition: 50ms all cubic-bezier(0, 0, 1, 1);
}

.activable:active {
    transform: scale(.96);
    opacity: .85;
}

.hoverable {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.activable {
    user-select: none;
    cursor: pointer;
}

.hoverable:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    transition: 150ms cubic-bezier(0, 0, 1, 1) background;
    pointer-events: none;
}

.hoverable:hover:after {
    transition: 50ms cubic-bezier(0, 0, 1, 1) opacity;
    opacity: 1;
    background: rgb(255 255 255 / 9%);
}

divider {
    border-width: 0;
    display: block;
    position: relative;
    line-height: 100%;
    font-family: inherit;
    height: 1px;
    background: rgb(255 255 255 / 8%);
}

/*************************************/

/***** STYLING RANGE INPUT ***********/

/*************************************/

/*************************************/

/*******************************************/

/***********************************/

/***********************************/


/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000000;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(119, 114, 114);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 250, 250);
  }

  
  ul.Season--Download--Mycima--Single>li {
    display: inline-block;
    min-width: 250px;
    margin: 0 4px 8px;
    vertical-align: top;
    text-align: right
}

ul.Season--Download--Mycima--Single>li>a {
    display: block;
    background: #31a24c;
    color: #fff;
    border-radius: 8px;
    padding: 16px 55px 16px 16px;
    line-height: 100%
}





filterboxselection.open>dropdownlist {
    height: 375px;
    opacity: 1;
    visibility: visible;
    transition: all 150ms ease 0s
}



.Button--Menubar--UX>.NavigationMenu>li.open>ul {
    display: block
}



.Button--Menubar--UX.open>.NavigationMenu {
    display: block;
    max-height: calc(100vh - 120px);
    overflow: auto;
    overscroll-behavior: contain
}

